<script>

    /*
     * author : Paul Petri
     * context : https://www.testdome.com/questions/javascript/closures/8518?visibility=1&skillId=2
     * resolution : I actually found some solutions for this. Can't decide which is the good the bad and the ugly :)
     * docummentation : https://developer.mozilla.org/en/docs/Web/JavaScript/Closures
     */

    //========================================== Basic Test Example ==========================================
    document.addEventListener('DOMContentLoaded', function() {
        var as = document.getElementsByTagName('a');
        for (var i = 0; i < as.length; i++) {
            as[i].onclick = function() {
                alert(i);
                return false;
            }
        }
    }, false)

    //========================================== ECMAScript5 with return ==========================================
    // document.addEventListener('DOMContentLoaded', function() {
    //     var as = document.getElementsByTagName('a');
    //     for (var i = 0; i < as.length; i++) {
    //         as[i].onclick = createCallback(i)
    //     }
    // }, false);
    //
    // function createCallback(idx) {
    //     return function() {
    //         display(idx);
    //     };
    // }
    //
    // //what happens for this ????
    // // function createCallback(idx) {
    // //     return display(idx);
    // // }
    //
    // function display(idx) {
    //     console.log(idx);
    //     alert(idx);
    // }

    //============================ ECMAScript5 anonymous closures ==========================================
    // document.addEventListener('DOMContentLoaded', function() {
    //     var as = document.getElementsByTagName('a');
    //     for (var i = 0; i < as.length; i++) {
    //         (function() {
    //             var idx = i;
    //             as[i].onclick = function() {
    //                 alert(idx);
    //                 return false;
    //             }
    //         })();
    //     }
    // }, false);

    // //==========================================ECMAScript6 ==========================================
    // document.addEventListener('DOMContentLoaded', function() {
    //     var as = document.getElementsByTagName('a');
    //     for (let i = 0; i < as.length; i++) {
    //         as[i].onclick = function() {
    //             alert(i);
    //             return false;
    //         }
    //     }
    // }, false)
</script>

<body>
    In my life, I used the following web search engines:<br/>
    <a href="//www.yahoo.com">Yahoo!</a><br/>
    <a href="//www.altavista.com">AltaVista</a><br/>
    <a href="//www.google.com">Google</a><br/>
</body>
