<script>
    /*
     * author : Paul Petri
     * context : https://www.testdome.com/questions/javascript/loop/8528?visibility=1&skillId=2
     * resolution : I actually found some solutions for this. Can't decide which is the good the bad and the ugly :)
     * docummentation : none for now
     * hint : look in console when you run it first time :-s
     */

    //=========================== Basic Test Example ==========================================
    function appendChildren() {
        var allDivs = document.getElementsByTagName("div");
        for (var i = 0; i < allDivs.length;; i++) {
            var newDiv = document.createElement("div");
            decorateDiv(newDiv, i);
            allDivs[i].appendChild(newDiv);
        }

    }

    // Mock of decorateDiv function for testing purposes
    function decorateDiv(div, idx) {
        console.log(i);
        div.id = idx + 1;
    }

    //========================== not a solution, but you shoud also see what happens for this =========================

    // function appendChildren() {
    //     var allDivs = document.getElementsByTagName("div");
    //     var size = allDivs.length;
    //     for (var i = 0; i < size; i++) {
    //         var newDiv = document.createElement("div");
    //         decorateDiv(newDiv);
    //         allDivs[i].appendChild(newDiv);
    //     }
    // }

    //========================== my solution ================================
    // function appendChildren() {
    //
    //     var allDivs = Array.from(document.getElementsByTagName("div"));
    //
    //     allDivs.forEach(function(item, index) {
    //         var newDiv = document.createElement("div");
    //         decorateDiv(newDiv, item.id);
    //         item.appendChild(newDiv);
    //     });
    //
    // }
</script>

<body>
    <button onclick="appendChildren()">break loose</button>
    <div id="1">
        <div id="2">
        </div>
    </div>
</body>
